
################################################################################
## system settings #############################################################

RewriteEngine On
RewriteBase /

################################################################################
## monticello router ###########################################################

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^/(share|themes)
RewriteRule ^(.*)$ /index.php [QSA,L]
