
* {
	box-sizing:border-box;
}

body {
	background:#333;
	color:#fff;
	font-family:"Raleway","Segoe UI Light","Helvetica Neue","Arial","Helvetica";
	font-size:16px;
	font-weight:200;
	margin:0px;
	padding:0px;
}

a:link, a:visited {
	color:#5884B5;
}

em { color:#5884B5; font-style:italic; }

h1,h2,h3,h4 {
	line-height:normal;
	margin:0px;
	padding:0px;
}

h1 { font-size:2.5em; }
h2 { font-size:2.0em; }
h3 { font-size:1.5em; }

p {
	letter-spacing:0.25px;
	line-height:1.4em;
}

p,
pre
{ margin:0px 0px 32px 0px; }

p:last-child,
pre:last-child
{ margin-bottom:0px; }

code { background:#1E1E1E; border-top:3px solid #5884B5; border-radius:10px; color:#eee; padding:0px 8px 2px; font-size:0.75em; }
pre { tab-size:5; }

ol li { margin-bottom:10px; }

.TextCenter { text-align:center; }

/*//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////*/

a.Button { background:#5884B5; color:#fff; display:inline-block; padding:10px; overflow:auto; text-decoration:none; }
a.Button:hover { background:#D1ADD5; color:#000; }
a.ButtonAlt { background:#888; }
a.ButtonAlt:hover { background:#D1ADD5; color:#000; }

.Button > i { margin-right:4px; }
.ButtonButton { margin-top:8px; }
.ButtonFull { display:block; }

.gist { float:right; margin:0px 0px 32px 20px; }
.gist .line,
.gist .line-number { font-family:monospace !important; }

.ButtonList { list-style-type:none; margin:0px; padding:0px; }
.ButtonList li { display:block; margin:0px 0px 6px 0px; padding:0px; }
.ButtonList li:last-of-type { margin-bottom:0px; }
.ButtonList li a { display:block; }

.NetherHeader { border-top:4px solid #5884B5; display:inline-block; margin-bottom:20px; }
.NetherHeader a { color:#fff; text-decoration:none; }

/*//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////*/

#PageHeader { position:fixed; background:rgba(0,0,0,0.5); height:100px; padding:20px; width:100%; }
#PageHeader h1 { display:inline-block; }
#PageHeader ul { float:right; list-style-type:none; margin:0px; padding:0px; }
#PageHeader ul li { display:inline-block; margin:0px; padding:0px; }
#PageHeader ul li a { background:rgba(0,0,0,0.5); border-bottom:4px solid #000; color:#fff; padding:4px 10px; text-decoration:none; }
#PageHeader ul li.on a { border-bottom-color:#5884B5; }
#PageHeader ul li:hover a { border-bottom-color:#D1ADD5; }

#PageFooter { background:#000; color:#888; clear:both; }
#PageFooter > div { margin:0px auto; padding:50px 0px; width:768px; }

#PageArea { }
#PageArea .PageSection:nth-of-type(1) { padding-top:150px; }

/*//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////*/

.PageSection { clear:both; margin:0px; overflow:auto; padding:0px; }
.PageSection > div { margin:0px auto; padding:50px 0px; width:900px; }
.PageSection:nth-of-type(2n) { background:#262626; }

.PageNavigation { background:rgba(0,0,0,0.5); clear:both; margin:0px; overflow:auto; padding:0px; }
.PageNavigation > ul { list-style-type:none; margin:10px auto; padding:0px; width:900px; }
.PageNavigation > ul > li { display:inline-block; margin:0px; padding:5px; }
.PageNavigation > ul > li > a { color:#ccc; text-decoration:none; }
.PageNavigation > ul > li > a > i { color:#fff; }

.SplashSection { background-color:#555; background-position:center center; background-size:cover; text-align:center; }
.SplashSection > div { min-height:200px; padding:20px 0px 50px 0px; }
.SplashSection h2 { font-size:3.0em; }
.SplashSection p { font-size:1.5em; }
.SplashGraphicHome { background-image:url(gfx/splash-home.jpg); }
.SplashGraphicDocs { background-image:url(gfx/splash-earth.jpg); }
.SplashGraphicNUI { background-image:url(gfx/splash-nui.jpg); }
.SplashGraphicNPF { background-image:url(gfx/splash-npf.jpg); }

.PromoSection { font-size:1.5em; }
.TextCenter { text-align:center; }

.DivTwoColumn { overflow:auto; }
.DivTwoColumn > div:nth-child(1) { float:left; padding-right:20px; width:50%; }
.DivTwoColumn > div:nth-child(2) { float:right; padding-left:20px; width:50%; }

.ListStyleNone { list-style-type:none; margin:0px; padding:0px; }
.ListStyleNone li { margin:0px; padding:0px }
.ListInline li { display:inline-block; }

.CodeBlock { background:#1E1E1E; border-left:4px solid #5884B5; border-radius:10px; font-size:12px; padding:10px; text-align:left; }
